<header>
    <div class="container-fluid">
        <div class="row px-3">
            <div class="col-lg-4">
                <div class="logo">
                    <a (click)="logout()"><span>USA</span> Import Data</a>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" routerLink="home">USA</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>

        </div>
    </div>
</header>